@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html {
    scroll-behavior: smooth;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-700) var(--color-gray-800);
    font-family: Poppins, sans-serif;
}
